{% extends "AppMVT/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}
<h1 class="mb-5">¡LEYES VIGENTES!</h1>  
{% endblock %}

{% block contenido %} 
<br><br><br><br>}
<center>
    <h1>LEYES VIGENTES DE LAS OBRAS SOCIALES EN ARGENTINA</h1>
    <br><br><br><br>
</center>

<h2>
    <nav>
        <ul>
            <center>
                <li><a href="https://www.argentina.gob.ar/sssalud/obras-sociales-nacionales"target="_BLANK">Haz click aca, y encontraras mas detalle de las Obras Sociales Nacionales</a></li><br>
                
            </center>
            
        </ul>
    </nav> 
</h2> 
<div>
    <center>
        <br><br><br><br><h2><a href="https://www.argentina.gob.ar/justicia/derechofacil/leysimple/obras-sociales#enestapagina"target="_BLANK">Informate por cada Item de interes en este apartado:</a></h2>
    </center>
</div>
{% endblock %}

