<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <title>quienes somos Paradigma</title>
       
    </head>
    <style>
        body {
            background-color: rgb(119, 148, 16);
        }
       
   </style>
    <body>
        
        <header>
                <nav>
                    <ul>
                        <li><h1><a href="inicio.html">Inicio</a></h1></li>
                    </ul>
                </nav>
        </header>
            <h1>Que es PARADIGMA ARTE+IDEAS?</h1>
                <h2>
                    <p>En Paradigma arte + ideas, nos orientamos al conjunto de actividades humanas de índole creativa, informativa y/o comunicativa,</p>
                    <p>persiguiendo mediante la cultura y los servicios sociales, una finalidad estética de manera subjetiva, un apoyo social a la mano de los vecinos;</p>   
                    <p>de este modo dejamos fluir el sentir del día a día con libertad, informacion, servicios y utopía total!</p>
                </h2>
    </body> 
</html>    